
ftp credentials.txt

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
!src/**/build/
**/build/
.gradle
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache

# Eclipse Core
.project
# JDT-specific (Eclipse Java Development Tools)
.classpath
